@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  background: #eee;
  height: auto;
}
h1 {
  font-weight: 400;
  font-size: 2.0rem;   /*rem unit has a default of 16px, so this is 2.5 * 16 */
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-weight: 400;
  font-size: 1rem; /*rem makes it more responsive*/
  text-transform: capitalize;
  margin: 0;
}
img {
  display: block;
  width: 100%;  /*This ensures that the photo is 100% of the container. So images will shink down*/
}
main {
  max-width: 900px;
  margin: auto;  /*pushes everything to the middle*/
  box-shadow: 30px 0px 40px rgba(0,0,0,0.2), /*horizantal offset and blur*/
  -30px 0px 40px rgba(0,0,0,0.2); /* This will create a shade behind the boxes*/
}

#landing {
  background: #ffff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw; /*if you wanted an element to take up the entire view height or width you put 100.  If you want half you put 50.*/
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
#landing-text h2 {
  color: #888;
}

#landing-image {
  background: url("https://source.unsplash.com/i3MWtFrfUL0");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw; /* 0 and 1 are the default. flex grow, flex shrink */
  margin: 0;
}
.btn {
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  display: inline-block;  /*So they do not cram up*/
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  background-color: #9e9e9e4a;
  transition: background 500ms ease; /*so that when you press on it it slowely fades in*/
}
.btn:hover{
  background: #f3c644;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  color: #fff;
}

#header h2 {
  border-left: 1px dotted #fff;
  border-right: 1px dotted #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;

}
.caption {
  padding: 0.8rem;
  text-align: center;
  font-weight: 200;
}
footer {
  text-align: center;
  margin: auto;
  padding: 2rem 1rem;
  color: #333;
}

footer h3 {
  font-size: 2rem;
  margin: 0;
}

/*Screen sizes 500px and up*/
/*Media query*/

@media (min-width: 500px) { /*As this is a mobile first website we begin with the min-width.  This will kick in for anything above 500px*/
  #landing {
    display: flex;
    height: 100%;
  }
  #landing-text {
    height: 100vh;    /*the text once above 500px will take up a 100vh of the height*/
  }
  #landing-image {
    height: 100vh;
  }
  @media(min-width: 700px) {
    .btn {
    padding: 1rem 3rem;
  }
}

